@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto px-10 w-full
  }
  .section {
    @apply px-5 py-5 border-black  flex justify-between rounded-xl bg-slate-600 mt-5 
  }
}

