@import "tailwindcss";

@layer components {
  .container {
    @apply mx-auto w-full max-w-6xl py-10
  }
  .section {
    @apply bg-emerald-300 py-5 px-5 rounded-2xl
  }
  .navbar {
    @apply flex justify-between items-center
           px-6 py-3
           rounded-full
           bg-white/10
           backdrop-blur-xl
           border border-white/20
           shadow-lg;
  }

  .nav-links {
    @apply flex gap-6 text-black;
  }

}